<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:cover {"url":"blob:https://www.spacedmonkey.com/8874c53b-e5fa-42fa-ae20-faf998895e91","dimRatio":50,"focalPoint":{"x":0.52,"y":0.2}} -->
<div class="wp-block-cover"><span aria-hidden="true" class="wp-block-cover__background has-background-dim"></span><img class="wp-block-cover__image-background" src="blob:https://www.spacedmonkey.com/8874c53b-e5fa-42fa-ae20-faf998895e91" style="object-position:52% 20%" data-object-fit="cover" data-object-position="52% 20%"/><div class="wp-block-cover__inner-container"><!-- wp:query-title {"type":"search","textAlign":"center","level":2,"fontSize":"large"} /--></div></div>
<!-- /wp:cover -->

<!-- wp:query {"queryId":11,"query":{"perPage":6,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":true},"displayLayout":{"type":"list","columns":3},"layout":{"type":"constrained","justifyContent":"center"}} -->
<div class="wp-block-query"><!-- wp:post-template -->
<!-- wp:group {"style":{"spacing":{"padding":{"top":"30px","right":"30px","bottom":"30px","left":"30px"}}},"layout":{"inherit":false}} -->
<div class="wp-block-group" style="padding-top:30px;padding-right:30px;padding-bottom:30px;padding-left:30px"><!-- wp:post-title {"isLink":true} /-->

<!-- wp:post-excerpt /-->

<!-- wp:post-date /--></div>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:template-part {"slug":"pagination"} /--></div>
<!-- /wp:query -->

<!-- wp:template-part {"slug":"footer"} /-->